@import url("../styles/index.css");
@import url("../styles/embla.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');



@layer base {
  ul, ol {
    list-style: revert;
  }
  li{
    margin-left: 16px;
  }
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto; 
  padding: 0 16px;
}


@media (max-width: 1279px) and (min-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}


.hero-1{
  font-family: 'azonix', sans-serif;
}

.page-footer{
  background-color: black;
}